
<div id="ko-calculator-tw-seller" style="display: none;" data-bind="visible: true">
    <div data-bind="foreach: tradelines">
        <div>
            <label for="type">Card Type</label>
            <select id="type" data-bind="options: $parent.cardNames, value:type"></select>
        </div>
        <div>
            <label for="limit">Limit</label>
            <input
                    id="limit"
                    type="range"
                    min="0"
                    max="30000"
                    step="500"
                    data-bind="value: limit, valueUpdate: 'input'"
            />
            <div class="value-label" data-bind="text: displayLimit"></div>
        </div>
        <div>
            <label for="age">Age</label>
            <input
                    id="age"
                    type="range"
                    min="0"
                    max="20"
                    step=".5"
                    data-bind="value: age, valueUpdate: 'input'"
            />
            <div><span class="value-label" data-bind="text: age"></span> years</div>
        </div>
        <div>
            <label for="age">Available Spots</label>
            <input
                    id="spots"
                    type="range"
                    min="0"
                    data-bind="value: spots, valueUpdate: 'input', attr: {max: maxSpots}"
            />
            <div><span class="value-label" data-bind="text: spots"></span> available spots</div>
        </div>
        <div>
            <label for="paymentHistory">Has Perfect Payment History</label>
            <input
                    id="paymentHistory"
                    type="checkbox"
                    data-bind="checked: perfectPaymentHistory"
            />
        </div>
        <p class="tradeline-income">
            This Tradeline's Potential Income: Promo Until Jan 1, 2023:$<span data-bind="text: income"></span>/mo <small class="seller-2023-price">after Jan 1, 2023:$<span data-bind="text: incomeTwenty"></span>/mo</small>

            <br data-bind="if: comments" /><span class="comments" data-bind="text: comments"></span>
            <button class="wpforms-submit" data-bind="click: $parent.removeTradeline">Remove</button>
        </p>
    </div>
    <button class="wpforms-submit" data-bind="click: addTradeline, text: buttonText">Add a Tradeline</button>
    <p>
    <h3 class="total-income-container">Total Potential Income: Promo Until Jan 1, 2023: <span class="total-income-amount" data-bind="text: income"></span>/mo</h3> <small class="seller-2023-price">after Jan 1, 2023:<span data-bind="text: incomeTwenty"></span>/mo</small>
    </p>
</div>